@font-face {
  font-family: "Google Sans Code";
  src: url("fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}
body{ font-family: "Google Sans Code",monospace; min-height: 100vh;  width: 100vw; display: flex;  flex-direction: column; color: rgba(0, 0, 0, 0.817);  scrollbar-width: none;  background-color: #a9a48333; overflow-x: hidden;}
 



  #breadcrumb a, #breadcrumb span { filter: opacity(60%);  text-decoration: none; font-weight: normal;  }
  #breadcrumb{  padding: 1rem 0 1rem 0;  }
  #breadcrumb a:hover { text-decoration: underline;  filter: none;  }
  * { max-width: 100%;    box-sizing: border-box;  } 
   
  h1{font-size: clamp(2rem,10vw,4rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */      font-weight: 900;   overflow-wrap: normal; /* no rompe palabras largas */
    word-break: keep-all;  /* evita saltos dentro de palabras */}
  h2{font-size: clamp(2rem,7vw,3.5rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */    font-weight: 600;   overflow-wrap: normal; /* no rompe palabras largas */
    word-break: keep-all;  /* evita saltos dentro de palabras */}
  h3{font-size: clamp(2rem,5vw,2.5rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */ text-transform: uppercase;  overflow-wrap: normal; /* no rompe palabras largas */
    word-break: keep-all;  /* evita saltos dentro de palabras */}
  h4{font-size: clamp(1rem,2vw,1.2rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */ text-transform: uppercase;   overflow-wrap: normal; /* no rompe palabras largas */
    word-break: keep-all;  /* evita saltos dentro de palabras */}
  p{ font-size: clamp(0.75rem,1.5vw,1rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */ line-height: 2.5; overflow-wrap: break-word;  word-break: keep-all; hyphens: none;  overflow-wrap: normal; /* no rompe palabras largas */
    word-break: keep-all;  /* evita saltos dentro de palabras */}
  .infoT{font-style: italic; font-size: 1rem;}
  .title{font-size: clamp(2rem,15vw,10rem); text-transform: uppercase;}
/*****footer*/

.chat {  display: flex;  flex-direction: column;  flex: 1;  overflow: hidden;  white-space: nowrap;
  background-color: rgba(43, 41, 41, 0.1);  color: #2f2f2f;
  justify-content: center;   /* centro vertical */
  align-items: center;       /* centro horizontal */
  text-align: center;        /* centro texto */
  padding: 6rem 0;  min-height: 50vh;  margin-top: 2rem;}
.chat h3 {  font-size: 1.2rem;  font-weight: 500;  letter-spacing: 1px;  margin-top: 1rem; }
.chat h2 {  font-size: 2rem;   /* no más de 32px */  font-weight: 600;color: #343224; }
#typewriter {display: inline-block;transform: translateX(0);text-transform: uppercase; color: #a8a177; }
h2 .cursor { display: inline-block; width: 5px;  background: rgba(126, 126, 126, 0.817);margin-left:2px; animation: blink 0.7s step-end infinite;
vertical-align: bottom;height: 2rem;}  

@keyframes blink {50% { background: transparent; }}
   #footer-container, footer{ z-index: 2;  width: 100%; justify-content: space-evenly;  display: flex;  }
    #footer-container{ margin-top: auto; padding-bottom: 10px;} 
  /*=================index*/
  #top_bar{ padding:10px; background-color: rgb(22, 22, 22); display: flex; justify-content: center;align-items: center; }
  #link_note{color: rgb(211, 85, 85);; font-weight: 100!important;}

  .hide-menu { display: none !important;} 
  #header-container{  max-height: 100px;}
  #img_logoh{    height: 5vh;    width: auto;  }
  content {scroll-margin-top: 1rem; /* deja 10rem desde el top al hacer scroll automático */  padding:0 0 0 0;  margin-top: 4rem;}


 
  /*--------------SECTION INTRO*/
 
  #intro { min-height: 90vh;  display: grid;  overflow: hidden; place-content: center;}
  #hero{position: relative; width: auto; display: flex; align-items: center; justify-content: center;}

  .con_hero{ display: grid; gap: 50px;  grid-template-columns: 50% 10%; grid-auto-rows:min-content;justify-items: center; text-align: center; padding: auto; }
  .con_hero_sub{display: grid; justify-items: center; text-align: right;}
   #id_img_hero{max-height:700px;}
  .hero_text{max-height:800px;  z-index: 1; font-size: clamp(2.5rem, 5vw, 15rem); font-weight: 900; text-transform: uppercase; text-align: left;}  
  .hero_btn{padding: 1rem;  border-radius: 10px; z-index: 1; text-shadow: 1px 1px 0px #d1d0d0;font-size: 1.3rem; }
  #menu_dtk { flex: 0 1 auto; }
 
  @keyframes blink {50% { background: transparent; }}

 /*.p_info{  margin-bottom: -0.1em; font-size: 1rem; text-align: center;   }*/
 .navbar , .navbar-toggler { border: transparent;  }
 

  /*H===========================================================MENU*/

  .div_menu_home {height: 100vh; display: grid; grid-template-columns: 1fr;justify-items: center; text-align: right; min-width: 300px; padding-right: 1rem; border-right: 2px solid rgba(0, 0, 0, 0.817);}
  .div_menu_home .m_text,i{font-size: 1.65rem; font-weight: 100;}

  #logo_container {  width: 100%;  display: flex;   justify-content: center; margin-bottom: 2rem;}
  #img_logoV { max-width: 150px;  width: auto; height: auto; object-fit: contain;  align-self: center; /* por si flex lo quiere estirar */}

  .nav-link{margin-bottom: 1.5rem;}
  .m_text{ display: inline-block; font-weight: 700;text-transform: uppercase; text-decoration: none; transition: transform 0.3s ease, color 0.3s ease; }
  .m_text:hover{transform: skewY(-2deg) scaleY(1.1);letter-spacing: 2px; text-decoration: underline; }
    
  .m_off_text{ color: #abaa9f; }
  .sec_menu, .sec_menu22{ padding-top: 5em; display: flex; flex-direction: column; padding: 35px; text-align: right;} 
  .img_logoH{  width: 150px;  margin-bottom: 2rem; }  

  /*================================================= PROJECTS*/
  #projects{min-height: 100vh; }   
  .cont_descript {    position: relative;    display: inline-block;    text-align: center;  }  
  .p_hover {position: absolute;    top: 50%;    left: 50%;transform: translate(-50%, -50%);    padding: 1px 1px;    border-radius: 3px;
    font-weight: bold;    visibility: hidden;    opacity: 0;transition: opacity 0.3s ease;    pointer-events: none; /* evita que interrumpa el click */
    z-index: 1; /*este hace q se ponga delante de todo*/font-size: 2rem;  }  
  .card-img-top{height: 20px;}
  .cont_descript:hover .p_hover{ /*esto hace q se haga visible*/    visibility: visible;    opacity: 1;  }
  .image-wrapper { position: relative;  overflow: hidden;}
  .image-wrapper img {width: 100%; display: block;filter: grayscale(100%);  transition: filter 0.4s ease;}
  .overlay { position: absolute;inset: 0;  background: rgba(0, 0, 0, 0.45);   color: white;   padding: 1rem;   opacity: 0; transition: opacity 0.25s ease;    display: flex;
      align-items: flex-end;  /* texto abajo */  font-size: 0.85rem;   line-height: 1.4; }
  .image-wrapper:hover .overlay{opacity: 1}
  .image-wrapper:hover img{ filter: grayscale(0%); transition: filter 0.4s ease; }
  /* #p_container {  display: grid;  margin: 0 auto;  padding: 0 2rem;  justify-items: center;}
   #projects-grid { min-width: 100%; display: grid;  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));    gap: 2rem;  }  */
  

 /*=================================================RESUME*/
.desc_item { white-space: pre-line;}
  #skills_section {  display: flex;  align-items: flex-start; gap: 2rem;  margin-top: 2rem;}
  #titles_col { width: 25%;display: flex;flex-direction: column; justify-content: flex-start; gap: 5rem;/* distribuye los títulos verticalmente */ }
  .title_item {display: flex; align-items: center;cursor: pointer;font-weight: bold; color: gray; transition: color 0.2s;}
  .title_item.selected {color: rgba(0, 0, 0, 0.817); }
  .title_item i { margin-right: 0.5rem;font-size: 0.75rem; }
  #desc_col {flex: 1; background-color: rgba(0, 0, 0, 0.05); padding: 1rem; }
  .desc_item i { margin-right: 0.5rem;   color: #555; }
  #aboutme {min-height: 100vh; }  
  .wrap{display: grid;  margin: 0 auto;  padding:2rem;  justify-items: left; align-items: center;}
  #p_info{background:rgba(0, 0, 0, 0.764);  color: #a9a483; }
  #titles_col { flex: 0 0 200px;        /* ancho fijo para el menú */}
  #desc_col {flex: 1; /* toma el resto del espacio disponible */width: 900px; /* no permite que se expanda más */ overflow-y: auto;  /* scroll vertical si hay mucho contenido */}
  .desc_item p {  margin: 0;  /* quita margen del <p> */  line-height: 1.2;   /* ajusta altura de línea */}
  .desc_item small {  display: inline;    /* evita que small se comporte como bloque */  line-height: 1.2;  font-size: 0.9rem;  /* opcional: más pequeño */}
  
  /*=================================================SKILS*/
  #skills{min-height: fit-content;  display: grid; align-content: center;}
  .skills-grid {  display: flex;    gap: 0.5rem;}
  /* Celdas */
  .skill { flex: 1; background:rgba(0, 0, 0, 0.764);  color: #a9a483;  cursor: pointer;  overflow: hidden;  position: relative;  transition: flex 0.5s ease; height: 30vh; }
  /* Celda activa */  
  .skill.active {  flex: 2; /* ~50% */}
  /* OVERLAY (pista visual) */
  .skill-overlay {  position: absolute; inset: 0; background: linear-gradient(  to bottom, rgba(0, 0, 0, 0.764), rgba(0, 0, 0, 0.5) ); display: flex; align-items: center; justify-content: center; 
      font-weight: 700;  letter-spacing: 0.1em;  transition: opacity 0.3s ease;  pointer-events: none;}
  /* Overlay desaparece al expandir */
  .skill.active .skill-overlay {  opacity: 0;}
  /* CONTENIDO REAL */
  .skill-inner {  opacity: 0;  padding: 2rem;  transition: opacity 0.3s ease 0.2s;}
  /* Texto visible solo al expandir */
  .skill.active .skill-inner {  opacity: 1;}
  .skills-intro{ padding:0 2rem 0 2rem; }  

  .skills-grid .skill .arrow { display: none; /* por defecto no se ve */}
  .skills-grid .skill.active .arrow { display: inline-block; /* o block según el diseño */
  margin-left: 5px; /* opcional */transition: transform 0.3s; /* para animación */
  text-align: center; justify-content: right;}
  .skills-grid .skill { position: relative;  }

   /*=================================================contact en index*/
  
  #contact { display: flex; flex-direction: column; height: fit-content; }
  /* .contForm {    display: flex;    justify-content: center;    width: 100%; padding:0 2rem 0 2rem; }
  .contForm form {    width: 100%;    max-width: 1000px;  }
 
  input {  margin: 10px; width: 1000px; } 
  label {    width: 120px;     text-transform: uppercase;    flex-shrink: 0;  }
  .field-group {    display: grid;    grid-template-columns: 120px 1fr;    gap: 1rem;    align-items: center;  }
  .field-group textarea { flex: 1;}
   input,  textarea { background-color: rgb(252, 250, 240);   border: none; border-bottom: 2px solid #6a6767;  outline: none; font-size: 1rem;  }
   input,   textarea {flex: 1;     width: auto;   } 
   #message { min-height: 150px;  } */
  /*=============================================================================MEDIA QUERY*/

/* esto es para tablet*/
@media (min-width: 875px)  and (max-width: 1024px) {
  /****hero*/
  .con_hero{ display: flex; flex-direction: column; }
  
}
@media (min-width: 876px) { .skills-grid {flex-direction: row; }  
      .skill.active {flex: 7;} 
      .skills-grid .skill.active .arrow { position: absolute;  right: 10px; top: 50%;  }
    
     }

@media (max-width: 875px) { 
.content { scroll-margin-top: -1rem; /* deja 10rem desde el top al hacer scroll automático */      }
/*****index*/
#hero{ height: 90vw; width: 100vw; background-position: center;}    
.con_hero{ display: grid;   grid-template-columns: 1fr; grid-auto-rows:min-content;justify-items: center; text-align: center;}
.hero_text{max-width: 90%;  z-index: 1;  text-align: left;}
.hero_btn{font-size: 1rem; width: 80%; }
#menu{  visibility: hidden;  }
.menu-desktop{  display: none;      }
.sec_logo {     display: none;    }
.sec_menu{padding: 0;     margin: 0; height: 0;  visibility: hidden; visibility: hidden;   }
/*****resume*/    
#desc_col { width: 100%;/* ocupa toda la fila */  margin-top: 1rem;}  
/*****project*/
#projects-grid {  width: 100%;  display: grid;  grid-template-columns: repeat(1, 1fr);  gap: 2rem!important;}
/* #p_container{min-width: 100%;   margin: 0 auto; padding: 0;} */


/*****skills*/
#skills{min-height: fit-content;}
.skills-grid { flex-direction: column;  max-height: 100vh; }
.skill { min-height: 2rem; /* cerrada */  transition: min-height 0.4s ease;  }
.skill.active { min-height: 30vh; /* expandida */ } 
.skills-grid .skill .arrow { transition: transform 0.3s;}
.skills-grid .skill.active .arrow {transform: rotate(90deg); }
.skills-grid .skill.active .arrow { position: absolute; right: 50%; top: 85%; }
/****email*/
/* .field-group {flex-direction: column; align-items: stretch; }
.field-group textarea,input { width: 100% } */
/******cursor*/
#typewriter {font-size: 1.5rem; }

}
  

/*==================================Effects*/
  /* this is the init*/ 
#mosaic-loader {position: fixed; inset: 0; display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: repeat(4, 1fr); z-index: 9999; pointer-events: none; }
#mosaic-loader div {   background: #1b1b1b;      animation: mosaicOut 0.8s ease forwards;   }
@keyframes mosaicOut { to {  opacity: 0;   }   }

/* this is the project images*/
.image-wrapper { transition: transform 0.4s ease; }
.image-wrapper:hover { transform: scale(1.02);  }


.mosaic_btn {   
  position: relative;   overflow: hidden;border: none;  text-transform: uppercase;    font-weight: 700;     transition: color 0.5s;     z-index: 2;
-webkit-appearance: none; /* eliminar estilos nativos de botón en Safari/Chrome */     -moz-appearance: none;    /* eliminar estilos nativos de botón en Firefox */     appearance: none;
}
.mosaic_btn .line {     position: absolute;     width: 2px;     height: 100%;     /* SIEMPRE blanco */
transform: scaleY(1);     transition: transform 0.5s linear, top 1s linear, bottom 1s linear;     z-index: 1;   }
.mosaic_btn .line.top {     top: 0;     transform-origin: bottom;   }
.mosaic_btn .line.bottom {     top: auto;     bottom: 0;     transform-origin: top;   }
