body {
  font-family: "Sen", sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.817);
  scrollbar-width: none;
  background-color: #a9a48333;
  overflow-x: hidden;
}
/* font-family: "Figtree", */

#breadcrumb a,
#breadcrumb span {
  filter: opacity(60%);
  text-decoration: none;
  font-weight: normal;
}
#breadcrumb {
  padding: 1rem 0 1rem 0;
}
#breadcrumb a:hover {
  text-decoration: underline;
  filter: none;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2rem, 10vw, 4rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */
  font-weight: 900;
  overflow-wrap: normal; /* no rompe palabras largas */
  word-break: keep-all; /* evita saltos dentro de palabras */
}
h2 {
  font-size: clamp(2rem, 7vw, 3.5rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */
  font-weight: 600;
  overflow-wrap: normal; /* no rompe palabras largas */
  word-break: keep-all; /* evita saltos dentro de palabras */
}
h3 {
  font-size: clamp(2rem, 5vw, 2.5rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */
  text-transform: uppercase;
  overflow-wrap: normal; /* no rompe palabras largas */
  word-break: keep-all; /* evita saltos dentro de palabras */
}
h4 {
  font-size: clamp(1rem, 2vw, 1.2rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */
  text-transform: capitalize;
  overflow-wrap: normal; /* no rompe palabras largas */
  word-break: keep-all; /* evita saltos dentro de palabras */
}
p {
  font-size: clamp(0.95rem, 1.5vw, 1rem); /*clamp(MÍNIMO, IDEAL, MÁXIMO)  */
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: keep-all;
  hyphens: none;
  overflow-wrap: normal; /* no rompe palabras largas */
  word-break: keep-all; /* evita saltos dentro de palabras */
}
.infoT {
  font-style: italic;
  font-size: 1rem;
}
.title {
  font-size: clamp(2rem, 15vw, 10rem); /*text-transform: uppercase;*/
}


/*****footer*/
footer {background:rgba(0, 0, 0, 0.764); padding: 3rem 8%;   /* más aire lateral */ color: #a9a483; }
.footer-social-text a,.footer-links a{line-height: 0.5rem; }
.logo img{   max-height: 300px;    filter: brightness(0) invert(1); }


/* Mobile */
.footer-links,.footer-social-text,.logo {display: none;}

.footer-icons { display: flex; justify-content: center; gap: 2.5rem; font-size: 1.8rem; margin: 0 auto; }

/* Tablet y Desktop */
@media (min-width: 768px) {
    footer {display: grid; grid-template-columns: 1fr 1fr 1fr; align-items: start;  }
    .footer-links {display: flex; flex-direction: column;gap: 1rem; align-items: flex-end;}
    .footer-social-text {display: flex; flex-direction: column; align-items: end; justify-self: center; /* redes separadas a la derecha */ }
    .logo  {display: flex; flex-direction: column; align-items: flex-start; /* redes separadas a la derecha */ }
    .footer-icons {  display: none;  }
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(43, 41, 41, 0.1);
  color: #2f2f2f;
  justify-content: center; /* centro vertical */
  align-items: center; /* centro horizontal */
  text-align: center; /* centro texto */
  padding: 6rem 0;
  min-height: 50vh;
  margin-top: 2rem;
}
.chat h3,
.chat p {
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
  text-wrap: balance;
}
.chat h2,
.chat p p {
  /* no más de 32px */
  font-weight: 600;
  color: #343224;
  text-wrap: pretty;
}
#typewriter {
  display: inline-block;
  transform: translateX(0);
  text-transform: uppercase;
  color: #a8a177;
}
h2 .cursor {
  display: inline-block;
  width: 5px;
  background: rgba(126, 126, 126, 0.817);
  margin-left: 2px;
  animation: blink 0.7s step-end infinite;
  vertical-align: bottom;
  height: 2rem;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}
#footer-container,
footer {
  z-index: 2;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
#footer-container {
  margin-top: auto;
  padding-bottom: 10px;
}
/*=================index*/
#intro {
  background-image: url(images/hero2.jpg);
  background-position: center;
}
.hero_text {
  max-height: 800px;
  z-index: 1;
  font-size: clamp(2.5rem, 5vw, 15rem);
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}
#top_bar {
  padding: 10px;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}
#link_note {
  color: rgb(211, 85, 85);
  font-weight: 100 !important;
}

.hide-menu {
  display: none !important;
}
#header-container {
  max-height: 100px;
}
#img_logoh {
  height: 5vh;
  width: auto;
}
content {
  scroll-margin-top: 1rem; /* deja 10rem desde el top al hacer scroll automático */
  padding: 0 0 0 0;
  margin-top: 4rem;
}

/*--------------SECTION INTRO*/

#intro {
  min-height: 90vh;
  display: grid;
  overflow: hidden;
}
#hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.con_hero {
  display: grid;
  gap: 50px;
  grid-template-columns: 50% 10%;
  grid-auto-rows: min-content;
  justify-content: start;
  align-content: flex-end;
  padding: 5rem;
}

.con_hero_sub {
  display: grid;
  justify-items: left;
  text-align: right;
  padding: 2rem;
}
#id_img_hero {
  max-height: 700px;
}
.hero_text {
  max-height: 800px;
  z-index: 1;
  font-size: clamp(2.5rem, 5vw, 15rem);
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}
.hero_btn {
  padding: 1rem;
  z-index: 1;
  font-size: 1.3rem;
  color: #ffffff;
}
#menu_dtk {
  flex: 0 1 auto;
  color: #ffffff;
}
.sec_menu22 {
  padding-top: 5em;
  display: flex; /* flex-direction: column; */
  padding: 35px;
  gap: 3rem;
}
.sec_menu {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  padding: 35px;
  text-align: left;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}

/*.p_info{  margin-bottom: -0.1em; font-size: 1rem; text-align: center;   }*/
.navbar,
.navbar-toggler {
  border: transparent;
}

/*H===========================================================MENU*/

.div_menu_home {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: right;
  min-width: 300px;
  padding-right: 1rem;
  border-right: 2px solid rgba(255, 255, 255, 0.817);
}
.div_menu_home .m_text,
i {
  font-size: 1.65rem;
  font-weight: 100;
}

#logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#img_logoV {
  max-width: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  align-self: center; /* por si flex lo quiere estirar */
  filter: brightness(10);
}

.nav-link {
  margin-bottom: 1.5rem;
}
.m_text {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.m_text:hover {
  transform: skewY(-2deg) scaleY(1.1);
  letter-spacing: 2px;
  text-decoration: underline;
}

.m_off_text {
  color: #abaa9f;
}

.img_logoH {
  width: 150px;
  margin-bottom: 2rem;
}

/*================================================= PROJECTS*/
#projects {
  min-height: 100vh;
}
.cont_descript {
  position: relative;
  display: inline-block;
  text-align: center;
}
.fa-check { 
  font-size: small;
}

#p_container {
  max-width: 1500px;
  width: auto;
  margin: 0 auto;
  padding: 3rem 2rem; /* background: #e5e5e5; /* gris */
  display: flex;
  justify-content: center;
  color: #a9a483;
}
.project-card {
  background: rgba(0, 0, 0, 0.764);
  padding: 1.5rem;
  max-width: 900px;
  width: auto;
  margin: 0 auto;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  display: grid;
  gap: 1rem;
  align-content: center;
  justify-items: center;
  text-transform: uppercase;
}
.project-card:hover {
  transform: translateY(-4px);
}
.card-img-top {
  height: 20px;
}
.cont_descript:hover .p_hover {
  /*esto hace q se haga visible*/
  visibility: visible;
  opacity: 1;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
}
.image-wrapper img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.4s ease;
}

.image-wrapper:hover img {
  filter: grayscale(0%);
  transition: filter 0.4s ease;
}

/*=================================================RESUME*/
.desc_item {
  white-space: pre-line;
}
#skills_section h4{
  font-size: 0.85rem; 
}
#skills_section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1500px;
}
#titles_col {
  border-right: solid;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  padding-right: 2px;
  height: stretch; /* distribuye los títulos verticalmente */
}
.title_item {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  font-weight: bold;
  color: gray;
  transition: color 0.2s;
}
.title_item.selected {
  color: rgba(0, 0, 0, 0.817);
}
.title_item i {
  margin-right: 0.5rem;
  font-size: 0.75rem;
}
#desc_col {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
}
.desc_item i {
  margin-right: 0.5rem;
  color: #555;
}
#aboutme {
  min-height: 100vh;
}
.wrap {
  display: grid;
  margin: 0 auto;
  padding: 0rem;
  justify-items: left;
  align-items: center;
}
#p_info {
  background: rgba(0, 0, 0, 0.764);
  color: #a9a483;
  max-width: 1500px;
}
#titles_col {
  flex: 0 0 200px; /* ancho fijo para el menú */
}
#desc_col {
  flex: 1; /* toma el resto del espacio disponible */
  width: 900px; /* no permite que se expanda más */
  overflow-y: auto; /* scroll vertical si hay mucho contenido */
}
.desc_item p {
  margin: 0; /* quita margen del <p> */
  line-height: 1.2; /* ajusta altura de línea */
}
.desc_item small {
  display: inline; /* evita que small se comporte como bloque */
  line-height: 1.2;
  font-size: 0.9rem; /* opcional: más pequeño */
}

/*=================================================SKILS*/
#skills {
  min-height: fit-content;
  display: grid;
  align-content: center;
  padding: 0 5rem 5rem;
  background-color: rgba(43, 41, 41, 0.1);
}
.skills-grid {
  display: flex;
  gap: 0.5rem;
}
/* Celdas */
.skill {
  flex: 1;
  background: rgba(0, 0, 0, 0.764);
  color: #a9a483;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: flex 0.5s ease;
  height: 30vh;
}
/* Celda activa */
.skill.active {
  flex: 2; /* ~50% */
}
/* OVERLAY (pista visual) */
.skill-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.764),
    rgba(0, 0, 0, 0.5)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
/* Overlay desaparece al expandir */
.skill.active .skill-overlay {
  opacity: 0;
}
/* CONTENIDO REAL */
.skill-inner {
  opacity: 0;
  padding: 2rem;
  transition: opacity 0.3s ease 0.2s;
}
/* Texto visible solo al expandir */
.skill.active .skill-inner {
  opacity: 1;
}
.skills-intro {
  padding: 0 2rem 0 2rem;
}

.skills-grid .skill .arrow {
  display: none; /* por defecto no se ve */
}
.skills-grid .skill.active .arrow {
  display: inline-block; /* o block según el diseño */
  margin-left: 5px; /* opcional */
  transition: transform 0.3s; /* para animación */
  text-align: center;
  justify-content: right;
}
.skills-grid .skill {
  position: relative;
}

/*=================================================CONTACT */

#contact {
  min-height: fit-content;
  display: grid;
  align-content: center;
  padding: 0 5rem 5rem; 
}

.contForm {
  display: flex;
  justify-content: center;
}
/* CARD DEL FORM */
.contForm form {
  width: 70%;
  max-width: 900px;
  background-color: rgba(43, 41, 41, 0.1);
  padding: 3rem;
  border-radius: 0px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: fit-content;
}
.field-group.full {
  grid-template-columns: 1fr; /* ocupa todo */
}
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #d0d0d0;
  background: transparent;
  padding: 0.8rem 0;
}
/* FILAS LABEL + INPUT (GRID PERFECTO PARA FORMS) */
.field-group {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: start;
}
/* LABEL */
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #666;
}
/* INPUTS */
input,
textarea {
  width: 100%;
  padding: 0.7rem 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #d0d0d0;
  font-size: 1rem;
  transition: all 0.25s ease;
}
/* FOCUS BONITO */
input:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #000;
  border-bottom-width: 3px;
}
/* TEXTAREA */
textarea {
  min-height: 140px;
  resize: vertical;
}
#pop_up{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 500000;
}

#pop_up.active{
  display:flex;
}
.innerpop{
display: grid;
background-color:#a9a483;
align-items: center;
justify-content: center;
padding: 1rem;
border-radius: 5px;
margin: 1rem;
align-items: center;
justify-items: center;
width: max-content;
height: max-content;
}
.innerpop img{
  max-height: 100px; 
  margin: 10px;
}
.closeBtn{
  position:relative;
  right:20px;
  background:none;
  border:none;
  font-size:24px;
  cursor:pointer;
}

/*=============================================================================MEDIA QUERY*/

/* esto es para tablet*/
@media (min-width: 875px) and (max-width: 1024px) {
  /****hero*/
  .con_hero {
    display: flex;
    flex-direction: column;
  }
  #projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem !important;
  }
}
/* esto es para desktop*/
@media (min-width: 876px) {
 
  #projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .skills-grid {
    flex-direction: row;
  }
  .skill.active {
    flex: 7;
  }
  .skills-grid .skill.active .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
  }
}
/* esto es para mobil*/
@media (max-width: 875px) {

  #intro {
    background-size: cover;
    background-position: center !important;
  }
  .con_hero {
    height: 60vh;
    align-content: end;
  }
  .content {
    scroll-margin-top: -1rem; /* deja 10rem desde el top al hacer scroll automático */
  }
  /*****index*/
  #hero {
    height: 90%;
    width: 100vw;
    background-position: center;
    justify-content: space-around;
  }
  .con_hero {
    height: auto;
    padding: 1rem;
  }
  .hero_text {
    max-width: 90%;
    z-index: 1;
    text-align: left;
  }
  .hero_btn {
    font-size: 1rem;
    width: 80%;
  }
  #menu {
    visibility: hidden;
  }
  .menu-desktop {
    display: none;
  }
  .sec_logo {
    display: none;
  }
  .sec_menu {
    padding: 0;
    margin: 0;
    height: 0;
    visibility: hidden;
    visibility: hidden;
  }
  /*************************************resume*/
  .desc_item {
    white-space: pre-line;
  }
  #skills_section {
display: block;
  }
  #titles_col {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: solid;
    border-right: none;
  }
  .title_item i {
    margin-right: 0.2rem;
    font-size: 0.25rem;
  }
  .desc_content ul{
    font-size: 0.75rem;
  }
  /*****project*/

  #projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem !important;
  }
  /* #p_container{min-width: 100%;   margin: 0 auto; padding: 0;} */

  /*****skills*/
  #skills {
    max-height: fit-content;
  }
  .skills-grid {
    flex-direction: column;
    max-height: 100%;
  }
  .skill {
    min-height: 2rem; /* cerrada */
    transition: min-height 0.4s ease;
  }
  .skill.active {
    min-height: 30vh; /* expandida */
  }
  .skills-grid .skill .arrow {
    transition: transform 0.3s;
  }
  .skills-grid .skill.active .arrow {
    transform: rotate(90deg);
  }
  .skills-grid .skill.active .arrow {
    position: absolute;
    right: 50%;
    top: 85%;
  }

  /****email*/
  /* .field-group {flex-direction: column; align-items: stretch; }
.field-group textarea,input { width: 100% } */

.div_section{
  padding: 0 2rem 5rem;
}
.contForm form {
  width: 100%;
  /* max-width: 900px; */
  background-color: rgba(43, 41, 41, 0.1);
  padding: 3rem;
  border-radius: 0px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: fit-content;
}
  /******cursor*/
  #typewriter {
    font-size: 1.5rem;
  }
}

/*==================================EFFECTS*/
/* Botón flotante móvil */
#mobile-menu-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}
#mobile-menu-btn i {
  color: rgba(64, 64, 64, 0.253);
  font-size: 1.5rem;
}
#mobile-menu-btn i:hover {
  color: rgb(24, 23, 23);
}

/* this is the init*/
#mosaic-loader {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  z-index: 9999;
  pointer-events: none;
}
#mosaic-loader div {
  background: #1b1b1b;
  animation: mosaicOut 0.8s ease forwards;
}
@keyframes mosaicOut {
  to {
    opacity: 0;
  }
}

/* this is the project images*/
.image-wrapper {
  transition: transform 0.4s ease;
}
.image-wrapper:hover {
  transform: scale(1.02);
}

.mosaic_btn {
  position: relative;
  overflow: hidden;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.5s;
  z-index: 2;
  -webkit-appearance: none; /* eliminar estilos nativos de botón en Safari/Chrome */
  -moz-appearance: none; /* eliminar estilos nativos de botón en Firefox */
  appearance: none;
}
.mosaic_btn .line {
  position: absolute;
  width: 2px;
  height: 50px; /* SIEMPRE blanco */
  transform: scaleY(1);
  transition: transform 0.5s linear, top 1s linear, bottom 1s linear;
  z-index: 1;
}
.mosaic_btn .line.top {
  top: 0;
  transform-origin: bottom;
}
.mosaic_btn .line.bottom {
  top: auto;
  bottom: 0;
  transform-origin: top;
}
